<div class="section" id="experience">
  <div class="container cc-experience">
    <div class="h4 text-center mb-4 title">Education</div>

    <!-- First Experience Card -->
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="600">
          <div class="card-body cc-experience-header">
            <p>March 2016 - Present</p>
            <div class="h5">CreativeM</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="600">
          <div class="card-body">
            <div class="h5">Master of Information Technology</div>
            <p>{{about.desc}}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Second Experience Card -->
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="600">
          <div class="card-body cc-experience-header">
            <p>April 2014 - March 2016</p>
            <div class="h5">WebNote</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="600">
          <div class="card-body">
            <div class="h5">Bachelor of Computer Science</div>
            <p>{{about.desc}}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Third Experience Card -->
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="600">
          <div class="card-body cc-experience-header">
            <p>April 2013 - February 2014</p>
            <div class="h5">WEBM</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="600">
          <div class="card-body">
            <div class="h5">Science and Mathematics</div>
            <p>{{about.desc}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
